*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1{
    color: #FFFFFF;
    font-size: 64px;
    text-transform: uppercase;  
}

h2{
    font-size: 36px;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 18px;
}

h5{
    font-size: 14px;
}

p{
    font-size: 13.5px;
 }

/* Header & Nav */

.main-header{
    background-color: #B1C2ED;
    padding: 64px 10% 32px;
    font-weight: bold;
}

main>header>h2{
    color: #17328F;
}

.nav{
    background-color: #9C6B6B;
    padding: 0 10%;
    margin: 0 0 30px;
}

nav>ul>li{
    display: inline-block;
    font-size: 28px;
}

nav>ul>li>a{
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
}

nav>ul>li>a:hover,
nav>ul>li>a:active{
    text-decoration: underline;
    color:#410101;
    font-weight: bold;
}

/* Contenu de page Haut-Droite */

.contenu{
    margin: 18px 10%;
    width: 80%;
    clear: both;
}

.texte{
    background-color: #C4C4C4;
    width: 73.5%;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
}

main>div>article>header>h2{
    text-transform: uppercase;
}

div>article>footer{
    font-size: 16px;
    text-align: right;
}

div>article>footer>a{
  color: #000000;
  font-weight: bold;
}

/* ASIDE */

#floatright{
    float: right;
    width: 25.5%;
}

#aside{
    background-color: #B96767;
    color: #FFFFFF;
    font-size: 18px;
    padding: 7%;
}

aside>h3{
    text-align: center;
    padding: 20px;
}

#aside ul{
    padding-left: 1em;
}

#aside li{
    list-style: none;
}

/* Image du Bas */

.pikachu{
    width: 25%;
    float: left;
}

.pikachuflip{
    float: right;
    transform: scaleX(-1);
    width: 25%;
}

/* Contenu de texte Bas-Centre */

.texte2{
    background-color: #C4C4C4;
    width: 48%;
    display: inline-block;
    padding: 25px 15px;
    margin: 0 5px 250px 5px;
    box-sizing: border-box;
}

#centre{
    text-align: center;
}

/* Fiche de Pikachu */

section>article>header>h2{
    font-weight: bold;
    float: left;
}

article>header>p{
    float: left;
    margin: 22px 0 0 100px;
}

section>article>header>h4{
    font-weight: bold;
    clear: left;
}

.description{
    background-color: #C4C4C4;
    padding: 25px 25px 50px 25px;
    float: left;
    width: 70%;
    margin-bottom: 25px;
}

/* Footer */

.footer{
    clear: both;
    width: 100%;
    background-color: #898989;
    padding: 48px 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    position: fixed;
    bottom: 0;
}
